@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Karla:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-color: #a8bec9
}

body {
  background-color: #192a32;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
}

.container {
  width: 30%;
  position: relative;
}

@media (max-width: 1199px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .container {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 490px) {
  .container {
    width: 80%;
  }
}

.container .heading {
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.container .heading h2 {
  font-family: "Karla", sans-serif;
  color: #a8bec9;
  margin-bottom: 0.5rem;
}

.container .heading button {
  margin: 0.5rem 0.3rem;
  border: none;
  outline: none;
  padding: 0.3rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 0 #102129;
  cursor: pointer;
  background-color: rgba(168, 190, 201, 0.8);
  color: #102129;
  font-weight: bold;
  font-size: 2rem;
}

.container .heading button.restart {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container .heading button:hover {
  background-color: #a8bec9;
}

.container .heading button.active {
  background-color: #102129;
  box-shadow: 0 0 10px 0 #a8bec9;
  color: #a8bec9;
}

.container .cells-box {
  user-select: none;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.4rem 1.2rem;
}

.container .cells-box.no-click {
  pointer-events: none;
}

.container .cells-box .cell {
  --cell-color: #1f3540;
  background-color: var(--cell-color);
  border-radius: 1rem;
  box-shadow: 0 7px 0 #102129;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

.status-text {
  color: #a8bec9;
  margin-top: 1.5rem;
  text-align: center;
}